<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Northshore Press is a dynamic book publishing company dedicated to bringing diverse voices and compelling stories to readers worldwide. Founded with a passion for storytelling, we specialize in a variety of genres, from fiction and nonfiction to technical.</p>
      </div>
      <div class="col-lg-4">
        <p>Northshore Press takes pride in nurturing emerging talent while also collaborating with established authors to create impactful works that resonate with readers across the globe. Our commitment to quality, creativity, and innovation drives us to publish books that not only entertain but also educate and inspire, fostering a deep connection between our authors and their audiences.</p>
      </div>
    </div>
  </div>
</section>
