<!-- Video Playlist Section -->
<section class="success" id="videos">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Videos</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=oVWOw7KjISqTFF1f&amp;list=PL2mIzw4XiHSV89ZyTatHpq588rU6aT4cC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="text-center">
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
